[Unit]
Description=Website Monitoring Tool
After=network-online.target multi-user.target
Requires=network-online.target

[Service]
WorkingDirectory=/usr/bin
ExecStart=/usr/bin/site-monitor
Restart=always
User=root

[Install]
WantedBy=multi-user.target
